html, body {
    height: 100%;
    overflow: hidden;
}
body {
    background-color: #F0F8FF;
}
/* POUR LA BARRE DE MENU */
.navbar{
    border-bottom: 1px solid #ccc;
}
.navbar-brand img {
    height: 60px;
}
.nav-link {
    font-size: 20px;
    font-weight: 600;
}
.nav-link:hover {
    color: #2B6DA7;
}
.active-lien {
    color: #2B6DA7;
    font-weight: bold;
    border-bottom: 2px solid #2B6DA7;
}
.active-lien:hover {
    color: blue;
    font-weight: bold;
    border-bottom: 2px solid blue;
}
/* POUR LE FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.footer-barre {
    border-top: 2px solid #5D5858;
    width: 60%;
    margin: 0 auto 10px;
}
.contact-text {
    font-size: 18px;
    color: black;
}
.contact-text:hover {
    font-weight: bold;
}
/* LA PAGE D'ACCUEIL */
h1{
    font-size: 1.7vw;
    font-weight: bold;
    font-style: italic;
    font-family: 'Segoe UI';
    margin-top: 2%;
    margin-left: 2%;
}
h3{
    font-size: 1.2vw;
    font-weight: 600;
    font-family: 'Segoe UI';
    margin-top: 2%;
    margin-left: 3%;
}
.texte_explication{
    font-size: 0.9vw;
    font-family: 'Segoe UI';
    margin-top: 13%;
    margin-left: 5%;
}
.position-bottom {
    position: fixed;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}
.bouton {
    font-weight: 600;
    font-size: 19px;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
.btn-success {
    background-color: #529A44;
}
.btn-success:hover {
    background-color: #62b12a;
}
.btn-primary {
    background-color: #5770B2;
}
.btn-primary:hover {
    background-color: blue;
}
.LeSaviezVous_1{
    position: absolute;
    top: 25%;
    right: 1%;
    width: 20%;
}
.LeSaviezVous_2{
    position: absolute;
    top: 55%;
    right: 6%;
    width: 20%;
}
/* LA LISTE DES ETABLISSEMENTS */
.icone-img{
    border-radius: 50%;
    width: 45px;
    padding: 5px;
}
.table-responsive-univ {
    max-height: calc(100vh - 2.6%);
    overflow-y: auto;
}
.table-responsive-stat{
    max-height: calc(100vh - 365px);
    overflow-y: auto;
}
thead{
    background-color: #274CFF;
    font-size: 1vw;
    font-weight: bold;
    font-family: 'Segoe UI';
}
td{
    font-size: 0.9vw;
    font-weight: 600;
    font-family: 'Segoe UI';
}
.table tbody tr:nth-child(even) {
    background-color: white;
    color: dark;
}
.table tbody tr:nth-child(odd) {
    background-color: #000038;
    color: white;
}
table th,.table td {
    vertical-align: middle;
}
.form-check-input {
    border-color: #333;
    border-width: 1px;
}
.form-check-label {
    font-style: normal;
}
.filtre-case{
    margin-top: 2%;
    margin-left: 3%;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    border-radius: 25px;
}
.filtre,.filtre-stat{
    width: 15%;
    height: 40px;
    text-align: center;
    margin-left: 3%;
    font-style: italic;
    font-size: 17px;
    border-radius: 25px;
}
.filtre{
    margin-top: 3%;
}
.filtre-stat{
    margin-top: 3%;
}
.btn-group{
    position: absolute;
}
.btn-univ{
    right: 5%;
    top: 28%;
}
.btn-stat{
    right: 5%;
    top: 25%;
}
/* POUR LA PAGE DETAILS DE L'UNIVERSITE */
.titre_univ{
    font-size: 1.8vw;
    font-style: normal;
    margin-top: 1%;
    margin-left: 12%;
}
.sousTitre{
    font-size: 1.3vw;
    font-weight: 600;
    font-family: 'Segoe UI';
    text-decoration: underline;
}
.texteInfo{
    font-family: 'Arial';
    font-size: 1vw;
    margin-left: 32%;
}
.Info{
    font-weight: 600;
}
.decalage{
    margin-left: 10%;
}
.site-img{
    width: 30px;
}
.btn_telecharger {
    position: relative;
    background-color: #4b7430;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    transition: background-color 0.3s ease;
}
.btn_telecharger:hover {
    background-color: #3a6027;
}
.btn_telecharger:active {
    transform: translateY(2px);
}
#btn_retour {
    position: relative;
    margin-left: 2%;
    background-color: rgb(206, 201, 201);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    width: 200px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding: 10px;
    transition: background-color 0.3s ease;
}
#btn_retour:hover {
    background-color: rgb(161, 161, 161);
}
#btn_retour:active {
    transform: translateY(2px);
}
@media (max-width: 767px) {
    .table-responsive-univ,.table-responsive-stat {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}